name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, latest]
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3

        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install -g vsce
      - run: npm install
      - run: vsce package

      - name: Save Artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'extension package ${{ matrix.node-version }}'
          path: ./coq-elpi-lang-*.vsix

      
